/* Common Settings ----------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  /*font-family: serif;*/
  font-weight: 300;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #707070;
}


/* Header Area Settings ----------------------- */
.header {
  height: 60px;
  width: 100%;
  padding-top: 15px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
}

.header-logo {
  margin: -10px 0 0 10px;
  width: 113px;
}

.header-nav {
  display: inline-flex;
  margin: 0 10px 0 0;
}

.header-nav-link {
  display: block;
  margin-left: 18px;
  padding: 6px 18px;
  background: rgba(247, 247, 247);
  border-radius: 27px;
  font-size: 16px;
  font-weight: 300;
  color: #707070;
  text-decoration: none;
}

.howToUse-icon {
  width: 22px;
  font-style: normal;
  display: inline-block;
  background: #fff;
  border-radius: 22px;
  text-align: center;
  font-size: 90%;
  margin-right: 8px;
  font-weight: 300;
  opacity: 0.9;
}


/* Main Area Common Settings ----------------------- */
.main {
}

.form-wrapper {
  width: 860px;
  margin: 204px auto 184px;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}

.input-text-wrapper {
  width: 640px;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.input-text {
  font-size: 24px;
  padding: 20px 17px 20px 17px;
  outline: 0;
  border: none;
  width: 100%;
  color: #707070;
}

.input-text::placeholder {
  color: #D7D7D7;
  opacity: 1;
}

.button {
  width: 188px;
  height: 78px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
  background: #696262;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  transition: color 0.35s, background 0.35s, border 0.35s;
}

.button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background: #C3BFBF;
  border: 1px solid #FFFFFF;
}


/* Title Screen Settings ----------------------- */
.titleScreen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 200px auto 200px;
}

.title-logo {
  width: 346px;
  margin: 0 auto 50px;
}

.title-description {
  margin-bottom: 70px;
}

.title-button {
  display: inline-block;
  width: 300px;
  height: 80px;
  text-align:center;
  line-height: 80px;
  text-decoration: none;
  border-radius: 40px;
  margin: 20px auto;
}




/* Form Screen Settings ----------------------- */
.button-generate {
  background: #4c4444;    /*base 696262*/
}

.button-generate:before {
  content: "";
  background-color: #FFFFFF;
  display: inline-block;
  height: 29px;
  width: 29px;
  -webkit-mask: url("../img/icon_pen.svg");
  mask: url("../img/icon_pen.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  vertical-align: middle;
  margin: -7px 7px 0 0;
}

.button-generate:hover {
  background: #B3AFAF;    /*base C3BFBF*/
}

.button-generate:hover:before {
  background-color: #FFFFFF;
}

.is-loading {
  color: #FFFFFF;
  background: #B3AFAF;  /*base C3BFBF*/
  border: 1px solid #FFFFFF;
  padding-left: 14px;
}

.is-loading:hover {
  cursor: default;
}

.is-loading:before {
  margin: -7px 7px 0 -10px;
  background-color: #FFFFFF;
}

.loading-dots {
  display: inline-flex;
  margin-left: 2px;
  vertical-align: bottom;
}

.loading-dots span {
  padding-left: 2px;
  animation: bulge 3s infinite;
}


@keyframes bulge {
  33% {
    transform: translateY(-5px);
  }
  66% {
    transform: translateY(0px);
  }
}



.hint-wrapper {
  width: 860px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  line-height: 2.0;
  background: rgba(255, 255, 255, .7);
  border-radius: 10px;
  font-size: 16px;
  color: #a0a0a0;
}

.hint-samples {
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hint-samples * {
  font-size: 16px;
}

.hint-samples li::before {
  content: "・";
}



#gradient-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  --gradient-color-1: #54f2b6; 
  --gradient-color-2: #00d647; 
  --gradient-color-3: #ffffff;  
  --gradient-color-4: #21e892;

  opacity: 0;
  filter: blur(8px);
  transition: 1s opacity ease-out;
}



/* My Story Screen Settings ----------------------- */
.myStory-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 720px;
  
  /*width: 387px;
  height: 640px;*/

  margin: 50px auto 200px;
  padding: 45px 25px;
  line-height: 2em;
}

.myStory-header {
  width: 80%;
  padding: 0 0px 12px;
  border-bottom: 1px solid #707070;
  text-align: center;
} 

.myStory-header .myStory-title {
  font-size: 24px;
}

.myStory-body * {
  font-size: 18px;
} 

.myStory-image {
  width: 80px;
  height: 80px;
  
}

.link-scrollToBottom {
  position: absolute;
  top: 900px;
  left: 50%;
  display: inline-block;
  height: 50px;
  color: #D7D7D7;
  text-decoration: none;
  transform: translateX(-50%);
}

.link-scrollToBottom:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 34.5px;
  height: 1px;
  background-color: #D7D7D7;
  transform: rotate(30deg);
}

.link-scrollToBottom:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 34.5px;
  height: 1px;
  background-color: #D7D7D7;
  transform: rotate(-30deg);
}


.mixStoriesIntro-wrapper {
  display: block;
  width: 100%;
  position: relative;
  height: 1060px;
}


/* Others' Stories Area Settings */
.othersStories-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: #F0EFEF;
  z-index: -999;
  opacity: 0.6;
  overflow: hidden;
}

.othersStories-board {
  position: absolute;
  top: -50.25px;
  left: -68.25px;
  display: flex;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.othersStories-column {
  display: flex;
  flex-direction: column;
  
  width: 275px;
  margin: 0 32px;  
}



.othersStory-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 275px;
  height: 455px;
  margin-bottom: 64px;
  padding: 50px 25px;
  line-height: 1.3em;
  background: #ffffff;
}

.othersStory-header {
  width: 80%;
  padding: 0 0px 6px;
  border-bottom: 1px solid #707070;
  text-align: center;
} 

.othersStory-header .othersStory-title {
  font-size: 16px;
}

.othersStory-body * {
  font-size: 12px;
} 

.othersStory-image {
  width: 57px;
  height: 57px;
  /*margin-top: 50px;*/
}


/*.stream-slow .loopSet:first-child {
  animation: streamLoop-slow-1 50s -25s linear infinite;
}

.stream-slow .loopSet:last-child {
  animation: streamLoop-slow-2 50s linear infinite;
}


@keyframes streamLoop-slow-1 {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes streamLoop-slow-2 {
  0% {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}
*/
.stream-normal .loopSet:first-child {
  animation: streamLoop-normal-1 100s -50s linear infinite;
}

.stream-normal .loopSet:last-child {
  animation: streamLoop-normal-2 100s linear infinite;
}


.stream-normal:nth-child(odd) .loopSet:first-child {
  animation: streamLoop-normal-1 100s -75s linear infinite;
}

.stream-normal:nth-child(odd) .loopSet:last-child {
  animation: streamLoop-normal-2 100s -25s linear infinite;
}


@keyframes streamLoop-normal-1 {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes streamLoop-normal-2 {
  0% {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}


/*.stream-long .loopSet:first-child {
  animation: streamLoop-long-1 133.3s -66.5s linear infinite;
}

.stream-long .loopSet:last-child {
  animation: streamLoop-long-2 133.3s linear infinite;
}

.stream-long:nth-child(odd) .loopSet:first-child {
  animation: streamLoop-long-1 133.3s -66.5s linear infinite;
}

.stream-long:nth-child(odd) .loopSet:last-child {
  animation: streamLoop-long-2 133.3s -33.25s linear infinite;
}

@keyframes streamLoop-long-1 {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes streamLoop-long-2 {
  0% {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}
*/


/* Mix Stories Introduction Area Settings */
.mixStoriesIntro-description {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 620px;
  height: 100%;
  z-index: 999;
  text-align: center;
  background: #ffffff;
}

.mixStoriesIntro-description-text {
  font-size: 24px;
  margin: 110px auto;
  line-height: 1.7;
}

.button-mix {
  background: #696262
}

.button-mix {
  background: #696262
}

.button-mix:hover {
  background: #C3BFBF;
}

.button-mix.is-loading {
  background: #C3BFBF;
}


/* Mixed Stories Screen Settings ----------------- */
:root {
  --swiper-navigation-color: #F0EFEF;
  --swiper-pagination-color: #707070;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}

.myStories-wrapper {
}

.myStories-wrapper .carousel {
  height: 680px;
  margin-top: 40px;
}

.swiper-container {
  position: relative;
  overflow: hidden;
}

.myStories-wrapper .myStory-wrapper {
  margin-bottom: 40px;
  margin-top: 0px;
  width: 387px;
  height: 640px;
}

.myStory-storyType {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  margin: -40px auto 20px;
  opacity: 0.6;
}

.button-print {
  display: block;
  margin: 30px auto 50px;
}

.myStory-wrapper-print {
  display: none;
}

.othersStories-backcover {
  display: block;
  width: 100%;
  position: relative;
  height: 1060px;
}

/* Settings for printing */
@media print {
  .header, .header, .othersStories-backcover, .no-print {
    display: none;
  }

  body {
    /*width: 200px;*/
  }

  .myStory-wrapper-print {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
  }

  .myStory-wrapper-print .myStory-wrapper {
    margin: 0;
    padding: 60px 20px 20px;
  }

}


/* Modal Window Settings ----------------- */
.modal-howToUse {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F0EFEF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  opacity: 0;
  transition: opacity 0.5s, z-index 0.5s;
}

.modal-howToUse.is-activeModal {
  z-index: 9999;
  opacity: 1;
}

.howToUse-title {
  font-size: 24px;
  text-align: center;
}

.howToUse-description {
  width: 980px;
  margin: 20px auto;
}

.howToUse-step {
  margin: 1.5em 0;
  padding-left: 1em;
  line-height: 1.7;
}

.howToUse-notes {
  font-size: 14px;
}

.contact-wrapper {

}

.contact-title {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-description {
  font-size: 14px;
}

.modal-button-close {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 60px auto 0px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  line-height: 50%;
  text-decoration: none;
}

.modal-button-close:before {
  content: '';
  position: absolute;
  left: 25%;
  bottom: 50%;
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: #FFF;
  transform: rotate(45deg);
}

.modal-button-close:after {
  content: '';
  position: absolute;
  right: 25%;
  bottom: 50%;
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: #FFF;
  transform: rotate(-45deg);
}
