/* Common Settings ----------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

body {
  color: #707070;
}


/* Header Area Settings ----------------------- */
.header {
  height: 60px;
  width: 100%;
  padding-top: 15px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
}

.header-logo {
  margin: -10px 0 0 10px;
  width: 113px;
}

.header-nav {
  display: inline-flex;
  margin: 0 10px 0 0;
}

.header-nav-link {
  display: block;
  margin-left: 18px;
  padding: 9px 18px;
  background: rgba(240, 240, 240);
  border-radius: 27px;
  font-size: 16px;
  font-weight: 300;
  color: #707070;
  text-decoration: none;
}

.howToUse-icon {
  width: 22px;
  font-style: normal;
  display: inline-block;
  background: #fff;
  border-radius: 22px;
  text-align: center;
  font-size: 90%;
  margin-right: 6px;
  font-weight: 400;
}


/* Main Area Common Settings ----------------------- */
.main {
  
}


.form-wrapper {
  width: 860px;
  margin: 204px auto 184px;
  display: flex;
  justify-content: space-between;
  opacity: 0.75;
}

.input-text-wrapper {
  width: 640px;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.input-text {
  font-size: 24px;
  padding: 20px 17px 20px 17px;
  outline: 0;
  border: none;
  width: 100%;
  color: #707070;
}

.input-text::placeholder {
  color: #D7D7D7;
  opacity: 1;
}

.button {
  width: 188px;
  height: 78px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
  background: #696262;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
}

.button:hover {
  cursor: pointer;
  color: #FFFFFF;
  background: #C3BFBF;
  border: 1px solid #FFFFFF;
}


/* Form Screen Settings ----------------------- */
.button-generate {
  background: #595252;    /*base 696262*/
}

.button-generate:before {
  content: "";
  background-color: #FFFFFF;
  display: inline-block;
  height: 29px;
  width: 29px;
  -webkit-mask: url("../img/icon_pen.svg");
  mask: url("../img/icon_pen.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  vertical-align: middle;
  margin: -7px 7px 0 0;
}

.button-generate:hover {
  background: #B3AFAF;    /*base C3BFBF*/
}

.button-generate:hover:before {
  background-color: #FFFFFF;
}

.loading {
  color: #FFFFFF;
  background: #B3AFAF;  /*base C3BFBF*/
  border: 1px solid #FFFFFF;
  padding-left: 14px;
}

.loading:hover {
  cursor: default;
}

.loading:before {
  margin: -7px 7px 0 -10px;
  background-color: #FFFFFF;
}

.loading-dots {
  display: inline-flex;
  margin-left: 2px;
  vertical-align: bottom;
}

.loading-dots span {
  padding-left: 2px;
  animation: bulge 3s infinite;
}


@keyframes bulge {
  33% {
    transform: translateY(-5px);
  }
  66% {
    transform: translateY(0px);
  }
}



.hint-wrapper {
  width: 860px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  line-height: 2.0;
  background: rgba(255, 255, 255, .7);
  border-radius: 10px;
  font-size: 16px;
  color: #a0a0a0;
}

.hint-samples {
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hint-samples * {
  font-size: 16px;
}

.hint-samples li::before {
  content: "・";
}



#gradient-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  --gradient-color-1: #54f2b6; 
  --gradient-color-2: #00d647; 
  --gradient-color-3: #ffffff;  
  --gradient-color-4: #21e892;

  opacity: 0;
  filter: blur(8px);
  transition: 1s opacity ease-out;
}



/* My Story Screen Settings ----------------------- */
.myStory-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 720px;
  margin: 100px auto 330px;
  padding: 45px 25px;
  line-height: 2em;
}

.myStory-header {
  width: 80%;
  padding: 0 0px 15px;
  border-bottom: 1px solid #707070;
  text-align: center;
} 

.myStory-header .myStory-title {
  font-size: 24px;
}

.myStory-body {
  font-size: 18px;
} 

.myStory-image {
  width: 80px;
  height: 80px;
  /*margin-top: 50px;*/
}

.link-scrollToBottom {
  position: absolute;
  top: 900px;
  left: 50%;
  display: inline-block;
  height: 60px;
  color: #a0a0a0;
  text-decoration: none;
  transform: translateX(-50%);
}

.link-scrollToBottom:before {
  content: ">";

}


.mixStoriesIntro-wrapper {
  display: block;
  width: 100%;
  position: relative;
  height: 1080px;
}

.othersStories-wrapper {
  display: block;
  width: 100%;
  height: 1080px;
  background: #F0EFEF;
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
}

.mixStoriesIntro-description {
  position: absolute;
  top: 0;
  right: 0;
  width: 620px;
  height: 1080px;
  z-index: 999;
  text-align: center;
  background: #ffffff;
}